
*.ipch
*.db
*.db-shm
*.vcxproj
*.cmake
source/out/build/x64-Debug/build.ninja
source/out/build/x64-Debug/CMakeCache.txt
source/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_C.bin
source/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
source/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.c
source/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
source/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
source/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
source/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
source/out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
source/out/build/x64-Debug/CMakeFiles/cmake.check_cache
source/out/build/x64-Debug/CMakeFiles/CMakeOutput.log
source/out/build/x64-Debug/CMakeFiles/rules.ninja
source/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
source/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
source/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
source/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
source/out/build/x64-Debug/Testing/Temporary/LastTest.log
source/out/build/x64-Debug/VSInheritEnvironments.txt
source/build64/ZERO_CHECK.vcxproj.filters
source/build64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
source/build64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
source/build64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
source/build64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
source/build64/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
source/build64/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
source/build64/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
source/build64/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
source/build64/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
source/build64/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
source/build64/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
source/build64/x64/Debug/ALL_BUILD/ALL_BUILD.log
source/build64/TecCoding.sln
source/build64/Coding/Debug/Coding.exe.pdb
source/build64/Coding/Debug/Coding.exe.exe
source/build64/Coding/Coding.vcxproj.user
source/build64/Coding/Coding.vcxproj.filters
source/build64/Coding/Coding.dir/Debug/vc142.pdb
source/build64/Coding/Coding.dir/Debug/main.obj
source/build64/Coding/Coding.dir/Debug/Coding.tlog/link.write.1.tlog
source/build64/Coding/Coding.dir/Debug/Coding.tlog/link.read.1.tlog
source/build64/Coding/Coding.dir/Debug/Coding.tlog/link.command.1.tlog
source/build64/Coding/Coding.dir/Debug/Coding.tlog/CustomBuild.write.1.tlog
source/build64/Coding/Coding.dir/Debug/Coding.tlog/CustomBuild.read.1.tlog
source/build64/Coding/Coding.dir/Debug/Coding.tlog/CustomBuild.command.1.tlog
source/build64/Coding/Coding.dir/Debug/Coding.tlog/Coding.lastbuildstate
source/build64/Coding/Coding.dir/Debug/Coding.tlog/CL.write.1.tlog
source/build64/Coding/Coding.dir/Debug/Coding.tlog/CL.read.1.tlog
source/build64/Coding/Coding.dir/Debug/Coding.tlog/CL.command.1.tlog
source/build64/Coding/Coding.dir/Debug/Coding.log
source/build64/Coding/Coding.dir/Debug/Coding.exe.ilk
source/build64/Coding/Coding.dir/Debug/Coding.exe.exe.recipe
source/build64/Coding/CMakeFiles/generate.stamp.depend
source/build64/Coding/CMakeFiles/generate.stamp
source/build64/CMakeFiles/TargetDirectories.txt
source/build64/CMakeFiles/generate.stamp.list
source/build64/CMakeFiles/generate.stamp.depend
source/build64/CMakeFiles/generate.stamp
source/build64/CMakeFiles/d7ed6cdd346660c6185ebe72bdf9aef0/generate.stamp.rule
source/build64/CMakeFiles/CMakeOutput.log
source/build64/CMakeFiles/cmake.check_cache
source/build64/CMakeFiles/3.22.1/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
source/build64/CMakeFiles/3.22.1/x64/Debug/VCTargetsPath.recipe
source/build64/CMakeFiles/3.22.1/VCTargetsPath.txt
source/build64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
source/build64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
source/build64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
source/build64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
source/build64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
source/build64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
source/build64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
source/build64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
source/build64/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
source/build64/CMakeFiles/3.22.1/CompilerIdCXX/CompilerIdCXX.exe
source/build64/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
source/build64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
source/build64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
source/build64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
source/build64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
source/build64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
source/build64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
source/build64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
source/build64/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.exe.recipe
source/build64/CMakeFiles/3.22.1/CompilerIdC/Debug/CMakeCCompilerId.obj
source/build64/CMakeFiles/3.22.1/CompilerIdC/CompilerIdC.exe
source/build64/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
source/build64/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
source/build64/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
source/build64/CMakeCache.txt
source/build64/ALL_BUILD.vcxproj.user
source/build64/ALL_BUILD.vcxproj.filters
source/build64/.vs/TecCoding/v16/Solution.VC.db-wal
source/build64/.vs/TecCoding/v16/ipch/AutoPCH/6d28515edf38bfac/FREQUENCYSORT.ipch
source/build64/.vs/TecCoding/v16/Browse.VC.opendb
source/build64/.vs/TecCoding/v16/Browse.VC.db-wal
source/build64/.vs/TecCoding/v16/.suo
*.ipch
*.ipch
*.ipch
